* {
    font-family: sans-serif;
    text-align: center;
}

table{
    empty-cells: hide;
    font-size: 40px;
}

table td{
    border: 1px solid black;
}
.Special{
    font-size: 10px;
}
.R1 > .C1{
    background-color: cyan;
}

.C1{
    background-color: red;
}
.C2{
    background-color: orange;
}